<div>
  <a ng-click="showing = !showing" href="#banshee">Banshee</a>
  <a href="#colossus">Colossus</a>
  <a href="#nightcrawler">Nightcrawler</a>
  <a href="#storm">Storm</a>
  <a href="#sunfire">Sunfire</a>
  <a href="#thunderbird">Thunderbird</a>
  <a href="#wolverine">Wolverine</a>
</div>

<div ng-show="!showing">
<h2>Banshee</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/banshee.jpg" alt="Banshee" class="xmenpic" />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<div ng-hide="checkShowing()">
  <img src="../../imgs/xmenlogo.png" alt="X-Men Logo" class="xmenlogo" />
</div>
<p>
  An Irish mutant, Banshee possesses a "sonic scream", capable of harming enemies’ auditory systems and causing physical vibrations. He is named after the banshee, a legendary ghost from Irish mythology, said to possess a powerful cry. A former Interpol agent and NYPD police officer, Banshee was always a decade older than most of the X-Men and had only a relatively short tenure as a full-time X-Man.
</p>
</div>
