<div class="heros">
  <a href="#banshee">Banshee</a>
  <span>*</span>
  <a ng-click="showing = !showing" href="#colossus">Colossus</a>
  <span>*</span>
  <a href="#nightcrawler">Nightcrawler</a>
  <span>*</span>
  <a href="#storm">Storm</a>
  <span>*</span>
  <a href="#sunfire">Sunfire</a>
  <span>*</span>
  <a href="#thunderbird">Thunderbird</a>
  <span>*</span>
  <a href="#wolverine">Wolverine</a>
</div>

<div ng-show="!showing">
<h2>Colossus</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/colossus.jpeg" alt="Colossus" class="xmenpic" />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>

<p>
  A Russian mutant, the character is a member of the X-Men, and he is by far the physically strongest member of the team, being able to transform into a strong metallic form. Even without his powers he holds a physically imposing figure standing at 6 ft 7 in (200 cm). Throughout the series, he has been portrayed as a quiet, honest, and innocent man. He has had a fairly consistent presence in X-Men-related comic books since his debut. A talented artist, he only reluctantly agrees to use his powers in combat, feeling that it is his responsibility to use his abilities for the betterment of human and mutant-kind.
</p>
</div>
