<div class="heros">
  <a href="#banshee">Banshee</a>
  <span>*</span>
  <a href="#colossus">Colossus</a>
  <span>*</span>
  <a href="#nightcrawler">Nightcrawler</a>
  <span>*</span>
  <a href="#storm">Storm</a>
  <span>*</span>
  <a ng-click="showing = !showing" href="#sunfire">Sunfire</a>
  <span>*</span>
  <a href="#thunderbird">Thunderbird</a>
  <span>*</span>
  <a href="#wolverine">Wolverine</a>
</div>

<div ng-show="!showing">
<h2>Sunfire</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/sunfire.png" alt="Sunfire" class="xmenpic"  />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<p>
  Sunfire is a temperamental and arrogant Japanese mutant who can generate superheated plasma and fly. Not suited for teamwork, Sunfire was only briefly a member of the X-Men and has kept limited ties to the team since. He has had some presence in the greater Marvel Universe.
</p>
</div>
