<div>
  <a href="#banshee">Banshee</a>
  <a href="#colossus">Colossus</a>
  <a href="#nightcrawler">Nightcrawler</a>
  <a href="#storm">Storm</a>
  <a href="#sunfire">Sunfire</a>
  <a ng-click="showing = !showing" href="#thunderbird">Thunderbird</a>
  <a href="#wolverine">Wolverine</a>
</div>

<div ng-show="!showing">
<h2>Thunderbird</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/thunderbird.jpeg" alt="Thunderbird" class="xmenpic"  />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<div ng-hide="checkShowing()">
  <img src="../../imgs/xmenlogo.png" alt="X-Men Logo" class="xmenlogo" />
</div>
<p>
  Thunderbird was briefly a member of the X-Men. An Apache, Thunderbird possesses superhuman athletic ability. He was a short time member of the "Second Genesis" group of X-Men gathered together in Giant-Size X-Men #1 as he died on their second mission.
</p>
</div>
