body {
  padding: 0;
  background-color: silver;
    width: 500px;
    border: 2px solid black;
}
a {
  text-decoration: none;
  color: white;
}
div {
    text-align: center;
}
h1 {
  margin: 0;
  background-color: DarkRed;
    text-align: center;
}
h2 {
  margin: 0;
  color: white;
  background-color: DarkRed;
    text-align: center;
}
h3 {
    text-align: center;
}
p{
  margin: 10px 5px 10px 5px;;
}
span{
  color: white;
}
#hero-menu {
  margin: 0;
    padding: 15px;
    background: linear-gradient(to right, black, MidnightBlue);
}
#logohome{
  /*margin: 10px 10px 0px 10px;*/
  background-color: MidnightBlue;
  border: 5px solid DarkRed
}
.flexcontainer {
    display: flex;
    width: 500px;
    height: 100px;
}
.flex-item {
    background-color: MidnightBlue;
    width: 100px;
    height: 104px;
}
.heros{
  background: linear-gradient(to right, black, MidnightBlue);
}
.xmenpic {
    height: 100px;
    width: 75;
    background-color: white;
    border: 2px solid gold;
    /*margin: 0 212.5px 0 212.5px;*/
}
.xmenlogo{
  margin-top: 5px;
    height:200px;
    width:440px;
}
/*, , black, DarkRed, */
