<div class="heros">
  <a ng-click="showing = !showing" href="#forge">Forge</a>
  <span>-</span>
  <a href="#phoenix">Phoenix</a>
  <span>-</span>
  <a href="#psylocke">Psylocke</a>
  <span>-</span>
  <a href="#rogue">Rogue</a>
  <span>-</span>
  <a href="#shadowcat">Shadowcat</a>
</div>

<div ng-show="!showing">
<h2>Forge</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/forge.jpg" alt="Forge" class="xmenpic" />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<p>
  A mutant with an unsurpassed brilliance in technology, Forge has had a lengthy career as a government weapons contractor. Created by writer Chris Claremont and artist John Romita Jr., Forge first appeared in Uncanny X-Men #184. He shared a romantic relationship with Storm and a brief affair with Mystique, which led him to associate with the X-Men and thus enhancing the technology at the X-Mansion. He was also a member of the mutant group called X-Factor.
</p>
</div>
