<div class="heros">
  <a href="#forge">Forge</a>
  <span>-</span>
  <a ng-click="showing = !showing" href="#phoenix">Phoenix</a>
  <span>-</span>
  <a href="#psylocke">Psylocke</a>
  <span>-</span>
  <a href="#rogue">Rogue</a>
  <span>-</span>
  <a href="#shadowcat">Shadowcat</a>
</div>

<div ng-show="!showing">
<h2>Phoenix</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/phoenix.png" alt="Phoenix" class="xmenpic"/>
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<p>
  In her first appearance, the character's surname was not revealed; later publications and retcons further expanded her backstory to involve central characters of mainstream continuity. She is the daughter of the alternate future counterparts to Cyclops and Jean Grey-Summers from a harsh dystopia, the half sister of Cable, a niece of Havok and Vulcan, and a powerful mutant in her own right. Rachel Summers inherited her mother's vast telepathic and telekinetic talents. She also inherited her mother's original code names Phoenix and Marvel Girl.
</p>
</div>
