<div class="heros">
  <a href="#forge">Forge</a>
  <span>-</span>
  <a href="#phoenix">Phoenix</a>
  <span>-</span>
  <a ng-click="showing = !showing" href="#psylocke">Psylocke</a>
  <span>-</span>
  <a href="#rogue">Rogue</a>
  <span>-</span>
  <a href="#shadowcat">Shadowcat</a>
</div>

<div ng-show="!showing">
<h2>Psylocke</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/psylocke.png" alt="Psylocke" class="xmenpic" />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<p>
  Betsy was initially a supporting character in the adventures of her twin brother, Captain Britain, even briefly substituting for him in the role, before becoming the mutant superheroine and X-Men member Psylocke in 1986. Originally presented as a precognitive in the pages of Captain Britain and then as a telepath, the character eventually had her mind placed in the body of a Japanese female ninja known as Kwannon, gaining many of Kwannon's martial arts skills and elements of her personality. Psylocke's codename, coined by the X-Men villains Mojo and Spiral, debuted during her introduction to the X-Men stories post–Captain Britain.[2] Later, Psylocke acquired the power of telekinesis.
</p>
</div>
