<div>
  <a href="#forge">Forge</a>
  <a href="#phoenix">Phoenix</a>
  <a href="#psylocke">Psylocke</a>
  <a ng-click="showing = !showing" href="#rogue">Rogue</a>
  <a href="#shadowcat">Shadowcat</a>
</div>

<div ng-show="!showing">
<h2>Rogue</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/rogue.jpg" alt="Rogue" class="xmenpic"  />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<div ng-hide="checkShowing()">
  <img src="../../imgs/xmenlogo.png" alt="X-Men Logo" class="xmenlogo" />
</div>
<p>
  Rogue has the involuntary ability to absorb and sometimes also remove the memories, physical strength, and superpowers of anyone she touches. Therefore, Rogue considers her powers a curse. For most of her life, she limited her physical contact with others, including her on-off love interest, Gambit; but, after many years, Rogue finally gained full control over her mutant ability.
</p>
</div>
