<div>
  <a href="#forge">Forge</a>
  <a href="#phoenix">Phoenix</a>
  <a href="#psylocke">Psylocke</a>
  <a href="#rogue">Rogue</a>
  <a ng-click="showing = !showing" href="#shadowcat">Shadowcat</a>
</div>

<div ng-show="!showing">
<h2>Shadow Cat</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/shadowcat.jpg" alt="Shadowcat" class="xmenpic"  />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<div ng-hide="checkShowing()">
  <img src="../../imgs/xmenlogo.png" alt="X-Men Logo" class="xmenlogo" />
</div>
<p>
  Kitty Pryde possesses a "phasing" ability that allows her, as well as objects or people she is in contact with, to become intangible.[1] This power also disrupts any electrical field she passes through, and lets her simulate levitation. The youngest person to join the X-Men, Kitty received her first codename, Sprite, from Storm. Professor X also suggested the codename Ariel, which Kitty adopted for a short time prior to becoming Shadowcat. After joining the Guardians of the Galaxy, she replaced her fiancée and became part of the legend of the Star-Lord.
</p>
</div>
