<div>
    <a ng-click="showing = !showing" href="#angel">Angel</a>
    <a href="#beast">Beast</a>
    <a href="#cyclops">Cyclops</a>
    <a href="#iceman">Iceman</a>
    <a href="#marvelgirl">Marvel Girl</a>
    <a href="#profx">Professor X</a>
</div>
<div ng-show="!showing">
    <h2>Angel</h1>
      <div class="flexcontainer">
        <div class="flex-item"></div>
        <div class="flex-item"></div>
        <div class="flex-item">
          <img src="../../imgs/angel.jpg" alt="Angel" class="xmenpic"/>
        </div>
        <div class="flex-item"></div>
        <div class="flex-item"></div>
      </div>
      <div ng-hide="checkShowing(showing)">
        <img src="../../imgs/xmenlogo.png" alt="X-Men Logo" class="xmenlogo" />
      </div>
<p>
He originally possesses a pair of large feathered wings extending from his back, enabling him to fly. He is the heir to a multibillion-dollar corporation called Worthington Industries. This privileged background results in Warren being stereotyped as a self-absorbed playboy during his early years with the X-Men. This personality was ultimately replaced with a more introspective and brooding personality in the late 1980s, when the character was revamped into the darker "Archangel" persona.</p>
</div>
