<div class="heros">
    <a href="#angel">Angel</a>
      <span>|</span>
    <a href="#beast">Beast</a>
      <span>|</span>
    <a href="#cyclops">Cyclops</a>
      <span>|</span>
    <a href="#iceman">Iceman</a>
      <span>|</span>
    <a ng-click="showing = !showing" href="#marvelgirl">Marvel Girl</a>
      <span>|</span>
    <a href="#profx">Professor X</a>
</div>

<div ng-show="!showing">
<h2>Marvel Girl</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/marvel_girl.png" alt="Marvel Girl" class="xmenpic"  />
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<p>
  She was born with telepathic and telekinetic powers. Her powers first manifested when she saw her childhood friend being hit by a car. She is a caring, nurturing figure, but she also has to deal with being an Omega-level mutant and the physical manifestation of the cosmic Phoenix Force. Jean Grey experienced a transformation into the Phoenix in the X-Men storyline "The Dark Phoenix Saga". She has faced death numerous times in the history of the series. Her first death was under her guise as Marvel Girl, when she died and was "reborn" in the X-Men storyline "The Dark Phoenix Saga" as Phoenix. This transformation led to her second death, though not her last.
</p>
</div>
