<div class="heros">
    <a href="#angel">Angel</a>
      <span>|</span>
    <a href="#beast">Beast</a>
      <span>|</span>
    <a href="#cyclops">Cyclops</a>
      <span>|</span>
    <a href="#iceman">Iceman</a>
      <span>|</span>
    <a href="#marvelgirl">Marvel Girl</a>
      <span>|</span>
    <a ng-click="showing = !showing" href="#profx">Professor X</a>
</div>

<div ng-show="!showing">
<h2>Professor Xavier</h2>
<div class="flexcontainer">
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item">
    <img src="../../imgs/Profx.jpg" alt="Professor Xavier" class="xmenpic"/>
  </div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
</div>
<p>
  The founder of the X-Men, he himself is an exceptionally powerful telepath who can read and control minds of others. While running a private school in Westchester County, New York to both shelter and train mutants from around the globe, Xavier also fights to serve the greater good by promoting peaceful coexistence and equality between humans and mutants in a world where often zealous anti-mutant bigotry is widespread.
</p>
</div>
